{% extends "base.html" %}

{% block title %}
  Login / Create account
{% endblock %}

{% block body %}
  <div id="login-box">
    <h2>Login</h2>
    {% if form.errors %}
      <p class="error">Sorry, that's not a valid username or password</p>
    {% endif %}

    <form action='.' method='post'>
      <label for="username">Username:</label>
      <input type="text" name="username" value="" id="username">
      <label for="password">Password:</label>
      <input type="password" name="password" value="" id="password">

      <input type="submit" value="Login" />
      <input type="hidden" name="next" value="{{ next|escape }}" />
    </form>
  </div>
  <div id="registration-box">
    <h2>Create an account</h2>
    <p>New to MIT Dance Troupe? <a href="{% url dt.core.views.register %}?next={{ next|escape }}">Create an account!</a></p>
  </div>
{% endblock %}

