<table class="table table-hover table-condensed">
    <tr>
        <th>Time</th>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
    </tr>
    <tr>
        <td>10:00 - 10:30 AM</td>
        <td><input class="schedule-checkbox" type="checkbox" value="u1000"></td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td><input class="schedule-checkbox" type="checkbox" value="s1000"></td>
    </tr>
    <tr>
        <td>10:30 - 11:00 AM</td>
        <td><input class="schedule-checkbox" type="checkbox" value="u1030"></td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td><input class="schedule-checkbox" type="checkbox" value="s1030"></td>
    </tr>
    <tr>
        <td>11:00 - 11:30 AM</td>
        <td><input class="schedule-checkbox" type="checkbox" value="u1100"></td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td><input class="schedule-checkbox" type="checkbox" value="s1100"></td>
    </tr>
    <tr>
        <td>11:30 - 12:00 PM</td>
        <td><input class="schedule-checkbox" type="checkbox" value="u1130"></td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td><input class="schedule-checkbox" type="checkbox" value="s1130"></td>
    </tr>
    <tr>
        <td>1:00 - 1:30 PM</td>
        <td><input class="schedule-checkbox" type="checkbox" value="u1300"></td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td><input class="schedule-checkbox" type="checkbox" value="s1300"></td>
    </tr>
    <tr>
        <td>1:30 - 2:00 PM</td>
        <td><input class="schedule-checkbox" type="checkbox" value="u1330"></td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td><input class="schedule-checkbox" type="checkbox" value="s1330"></td>
    </tr>
    <tr>
        <td>2:00 - 2:30 PM</td>
        <td><input class="schedule-checkbox" type="checkbox" value="u1400"></td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td><input class="schedule-checkbox" type="checkbox" value="s1400"></td>
    </tr>
    <tr>
        <td>2:30 - 3:00 PM</td>
        <td><input class="schedule-checkbox" type="checkbox" value="u1430"></td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td><input class="schedule-checkbox" type="checkbox" value="s1430"></td>
    </tr>
    <tr>
        <td>3:00 - 3:30 PM</td>
        <td><input class="schedule-checkbox" type="checkbox" value="u1500"></td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td><input class="schedule-checkbox" type="checkbox" value="s1500"></td>
    </tr>
    <tr>
        <td>3:30 - 4:00 PM</td>
        <td><input class="schedule-checkbox" type="checkbox" value="u1530"></td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td><input class="schedule-checkbox" type="checkbox" value="s1530"></td>
    </tr>
    <tr>
        <td>4:00 - 4:30 PM</td>
        <td><input class="schedule-checkbox" type="checkbox" value="u1600"></td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td><input class="schedule-checkbox" type="checkbox" value="s1600"></td>
    </tr>
    <tr>
        <td>4:30 - 5:00 PM</td>
        <td><input class="schedule-checkbox" type="checkbox" value="u1630"></td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td><input class="schedule-checkbox" type="checkbox" value="s1630"></td>
    </tr>
    <tr>
        <td>5:00 - 5:30 PM</td>
        <td><input class="schedule-checkbox" type="checkbox" value="u1700"></td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td><input class="schedule-checkbox" type="checkbox" value="s1700"></td>
    </tr>
    <tr>
        <td>5:30 - 6:00 PM</td>
        <td><input class="schedule-checkbox" type="checkbox" value="u1730"></td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td><input class="schedule-checkbox" type="checkbox" value="s1730"></td>
    </tr>
    <tr>
        <td>6:00 - 6:30 PM</td>
        <td><input class="schedule-checkbox" type="checkbox" value="u1800"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="m1800"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="t1800"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="w1800"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="r1800"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="f1800"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="s1800"></td>
    </tr>
    <tr>
        <td>6:30 - 7:00 PM</td>
        <td><input class="schedule-checkbox" type="checkbox" value="u1830"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="m1830"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="t1830"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="w1830"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="r1830"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="f1830"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="s1830"></td>
    </tr>
    <tr>
        <td>7:00 - 7:30 PM</td>
        <td><input class="schedule-checkbox" type="checkbox" value="u1900"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="m1900"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="t1900"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="w1900"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="r1900"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="f1900"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="s1900"></td>
    </tr>
    <tr>
        <td>7:30 - 8:00 PM</td>
        <td><input class="schedule-checkbox" type="checkbox" value="u1930"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="m1930"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="t1930"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="w1930"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="r1930"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="f1930"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="s1930"></td>
    </tr>
    <tr>
        <td>8:00 - 8:30 PM</td>
        <td><input class="schedule-checkbox" type="checkbox" value="u2000"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="m2000"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="t2000"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="w2000"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="r2000"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="f2000"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="s2000"></td>
    </tr>
    <tr>
        <td>8:30 - 9:00 PM</td>
        <td><input class="schedule-checkbox" type="checkbox" value="u2030"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="m2030"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="t2030"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="w2030"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="r2030"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="f2030"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="s2030"></td>
    </tr>
    <tr>
        <td>9:00 - 9:30 PM</td>
        <td><input class="schedule-checkbox" type="checkbox" value="u2100"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="m2100"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="t2100"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="w2100"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="r2100"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="f2100"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="s2100"></td>
    </tr>
    <tr>
        <td>9:30 - 10:00 PM</td>
        <td><input class="schedule-checkbox" type="checkbox" value="u2130"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="m2130"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="t2130"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="w2130"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="r2130"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="f2130"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="s2130"></td>
    </tr>
    <tr>
        <td>10:00 - 10:30 PM</td>
        <td><input class="schedule-checkbox" type="checkbox" value="u2200"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="m2200"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="t2200"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="w2200"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="r2200"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="f2200"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="s2200"></td>
    </tr>
    <tr>
        <td>10:30 - 11:00 PM</td>
        <td><input class="schedule-checkbox" type="checkbox" value="u2230"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="m2230"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="t2230"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="w2230"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="r2230"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="f2230"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="s2230"></td>
    </tr>
    <tr>
        <td>11:00 - 11:30 PM</td>
        <td><input class="schedule-checkbox" type="checkbox" value="u2300"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="m2300"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="t2300"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="w2300"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="r2300"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="f2300"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="s2300"></td>
    </tr>
    <tr>
        <td>11:30 - 12:00 AM</td>
        <td><input class="schedule-checkbox" type="checkbox" value="u2330"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="m2330"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="t2330"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="w2330"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="r2330"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="f2330"></td>
        <td><input class="schedule-checkbox" type="checkbox" value="s2330"></td>
    </tr>
</table>