<table id="availability-selection-table" class="table table-bordered table-hover table-condensed">
    <tr>
        <th>Time</th>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
    </tr>
    <tr>
        <td>10:00 - 10:30 AM</td>
        <td class="schedule-box green" data-available="1" data-slug="u1000" id="u1000"></td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td class="schedule-box green" data-available="1" data-slug="s1000" id="s1000"></td>
    </tr>
    <tr>
        <td>10:30 - 11:00 AM</td>
        <td class="schedule-box green" data-available="1" data-slug="u1030" id="u1030"></td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td class="schedule-box green" data-available="1" data-slug="s1030" id="s1030"></td>
    </tr>
    <tr>
        <td>11:00 - 11:30 AM</td>
        <td class="schedule-box green" data-available="1" data-slug="u1100" id="u1100"></td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td class="schedule-box green" data-available="1" data-slug="s1100" id="s1100"></td>
    </tr>
    <tr>
        <td>11:30 - 12:00 PM</td>
        <td class="schedule-box green" data-available="1" data-slug="u1130" id="u1130"></td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td class="schedule-box green" data-available="1" data-slug="s1130" id="s1130"></td>
    </tr>
    <tr>
        <td>12:00 - 12:30 PM</td>
        <td class="schedule-box green" data-available="1" data-slug="u1200" id="u1200"></td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td class="schedule-box green" data-available="1" data-slug="s1200" id="s1200"></td>
    </tr>
        <tr>
        <td>12:30 - 1:00 PM</td>
        <td class="schedule-box green" data-available="1" data-slug="u1230" id="u1230"></td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td class="schedule-box green" data-available="1" data-slug="s1230" id="s1230"></td>
    </tr>
    <tr>
        <td>1:00 - 1:30 PM</td>
        <td class="schedule-box green" data-available="1" data-slug="u1300" id="u1300"></td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td class="schedule-box green" data-available="1" data-slug="s1300" id="s1300"></td>
    </tr>
    <tr>
        <td>1:30 - 2:00 PM</td>
        <td class="schedule-box green" data-available="1" data-slug="u1330" id="u1330"></td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td class="schedule-box green" data-available="1" data-slug="s1330" id="s1330"></td>
    </tr>
    <tr>
        <td>2:00 - 2:30 PM</td>
        <td class="schedule-box green" data-available="1" data-slug="u1400" id="u1400"></td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td class="schedule-box green" data-available="1" data-slug="s1400" id="s1400"></td>
    </tr>
    <tr>
        <td>2:30 - 3:00 PM</td>
        <td class="schedule-box green" data-available="1" data-slug="u1430" id="u1430"></td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td class="schedule-box green" data-available="1" data-slug="s1430" id="s1430"></td>
    </tr>
    <tr>
        <td>3:00 - 3:30 PM</td>
        <td class="schedule-box green" data-available="1" data-slug="u1500" id="u1500"></td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td class="schedule-box green" data-available="1" data-slug="s1500" id="s1500"></td>
    </tr>
    <tr>
        <td>3:30 - 4:00 PM</td>
        <td class="schedule-box green" data-available="1" data-slug="u1530" id="u1530"></td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td class="schedule-box green" data-available="1" data-slug="s1530" id="s1530"></td>
    </tr>
    <tr>
        <td>4:00 - 4:30 PM</td>
        <td class="schedule-box green" data-available="1" data-slug="u1600" id="u1600"></td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td class="schedule-box green" data-available="1" data-slug="s1600" id="s1600"></td>
    </tr>
    <tr>
        <td>4:30 - 5:00 PM</td>
        <td class="schedule-box green" data-available="1" data-slug="u1630" id="u1630"></td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td class="schedule-box green" data-available="1" data-slug="s1630" id="s1630"></td>
    </tr>
    <tr>
        <td>5:00 - 5:30 PM</td>
        <td class="schedule-box green" data-available="1" data-slug="u1700" id="u1700"></td>
        <td class="schedule-box green" data-available="1" data-slug="m1700" id="m1700"></td>
        <td class="schedule-box green" data-available="1" data-slug="t1700" id="t1700"></td>
        <td class="schedule-box green" data-available="1" data-slug="w1700" id="w1700"></td>
        <td class="schedule-box green" data-available="1" data-slug="r1700" id="r1700"></td>
        <td class="schedule-box green" data-available="1" data-slug="f1700" id="f1700"></td>
        <td class="schedule-box green" data-available="1" data-slug="s1700" id="s1700"></td>
    </tr>
    <tr>
        <td>5:30 - 6:00 PM</td>
        <td class="schedule-box green" data-available="1" data-slug="u1730" id="u1730"></td>
        <td class="schedule-box green" data-available="1" data-slug="m1730" id="m1730"></td>
        <td class="schedule-box green" data-available="1" data-slug="t1730" id="t1730"></td>
        <td class="schedule-box green" data-available="1" data-slug="w1730" id="w1730"></td>
        <td class="schedule-box green" data-available="1" data-slug="r1730" id="r1730"></td>
        <td class="schedule-box green" data-available="1" data-slug="f1730" id="f1730"></td>
        <td class="schedule-box green" data-available="1" data-slug="s1730" id="s1730"></td>
    </tr>
    <tr>
        <td>6:00 - 6:30 PM</td>
        <td class="schedule-box green" data-available="1" data-slug="u1800" id="u1800"></td>
        <td class="schedule-box green" data-available="1" data-slug="m1800" id="m1800"></td>
        <td class="schedule-box green" data-available="1" data-slug="t1800" id="t1800"></td>
        <td class="schedule-box green" data-available="1" data-slug="w1800" id="w1800"></td>
        <td class="schedule-box green" data-available="1" data-slug="r1800" id="r1800"></td>
        <td class="schedule-box green" data-available="1" data-slug="f1800" id="f1800"></td>
        <td class="schedule-box green" data-available="1" data-slug="s1800" id="s1800"></td>
    </tr>
    <tr>
        <td>6:30 - 7:00 PM</td>
        <td class="schedule-box green" data-available="1" data-slug="u1830" id="u1830"></td>
        <td class="schedule-box green" data-available="1" data-slug="m1830" id="m1830"></td>
        <td class="schedule-box green" data-available="1" data-slug="t1830" id="t1830"></td>
        <td class="schedule-box green" data-available="1" data-slug="w1830" id="w1830"></td>
        <td class="schedule-box green" data-available="1" data-slug="r1830" id="r1830"></td>
        <td class="schedule-box green" data-available="1" data-slug="f1830" id="f1830"></td>
        <td class="schedule-box green" data-available="1" data-slug="s1830" id="s1830"></td>
    </tr>
    <tr>
        <td>7:00 - 7:30 PM</td>
        <td class="schedule-box green" data-available="1" data-slug="u1900" id="u1900"></td>
        <td class="schedule-box green" data-available="1" data-slug="m1900" id="m1900"></td>
        <td class="schedule-box green" data-available="1" data-slug="t1900" id="t1900"></td>
        <td class="schedule-box green" data-available="1" data-slug="w1900" id="w1900"></td>
        <td class="schedule-box green" data-available="1" data-slug="r1900" id="r1900"></td>
        <td class="schedule-box green" data-available="1" data-slug="f1900" id="f1900"></td>
        <td class="schedule-box green" data-available="1" data-slug="s1900" id="s1900"></td>
    </tr>
    <tr>
        <td>7:30 - 8:00 PM</td>
        <td class="schedule-box green" data-available="1" data-slug="u1930" id="u1930"></td>
        <td class="schedule-box green" data-available="1" data-slug="m1930" id="m1930"></td>
        <td class="schedule-box green" data-available="1" data-slug="t1930" id="t1930"></td>
        <td class="schedule-box green" data-available="1" data-slug="w1930" id="w1930"></td>
        <td class="schedule-box green" data-available="1" data-slug="r1930" id="r1930"></td>
        <td class="schedule-box green" data-available="1" data-slug="f1930" id="f1930"></td>
        <td class="schedule-box green" data-available="1" data-slug="s1930" id="s1930"></td>
    </tr>
    <tr>
        <td>8:00 - 8:30 PM</td>
        <td class="schedule-box green" data-available="1" data-slug="u2000" id="u2000"></td>
        <td class="schedule-box green" data-available="1" data-slug="m2000" id="m2000"></td>
        <td class="schedule-box green" data-available="1" data-slug="t2000" id="t2000"></td>
        <td class="schedule-box green" data-available="1" data-slug="w2000" id="w2000"></td>
        <td class="schedule-box green" data-available="1" data-slug="r2000" id="r2000"></td>
        <td class="schedule-box green" data-available="1" data-slug="f2000" id="f2000"></td>
        <td class="schedule-box green" data-available="1" data-slug="s2000" id="s2000"></td>
    </tr>
    <tr>
        <td>8:30 - 9:00 PM</td>
        <td class="schedule-box green" data-available="1" data-slug="u2030" id="u2030"></td>
        <td class="schedule-box green" data-available="1" data-slug="m2030" id="m2030"></td>
        <td class="schedule-box green" data-available="1" data-slug="t2030" id="t2030"></td>
        <td class="schedule-box green" data-available="1" data-slug="w2030" id="w2030"></td>
        <td class="schedule-box green" data-available="1" data-slug="r2030" id="r2030"></td>
        <td class="schedule-box green" data-available="1" data-slug="f2030" id="f2030"></td>
        <td class="schedule-box green" data-available="1" data-slug="s2030" id="s2030"></td>
    </tr>
    <tr>
        <td>9:00 - 9:30 PM</td>
        <td class="schedule-box green" data-available="1" data-slug="u2100" id="u2100"></td>
        <td class="schedule-box green" data-available="1" data-slug="m2100" id="m2100"></td>
        <td class="schedule-box green" data-available="1" data-slug="t2100" id="t2100"></td>
        <td class="schedule-box green" data-available="1" data-slug="w2100" id="w2100"></td>
        <td class="schedule-box green" data-available="1" data-slug="r2100" id="r2100"></td>
        <td class="schedule-box green" data-available="1" data-slug="f2100" id="f2100"></td>
        <td class="schedule-box green" data-available="1" data-slug="s2100" id="s2100"></td>
    </tr>
    <tr>
        <td>9:30 - 10:00 PM</td>
        <td class="schedule-box green" data-available="1" data-slug="u2130" id="u2130"></td>
        <td class="schedule-box green" data-available="1" data-slug="m2130" id="m2130"></td>
        <td class="schedule-box green" data-available="1" data-slug="t2130" id="t2130"></td>
        <td class="schedule-box green" data-available="1" data-slug="w2130" id="w2130"></td>
        <td class="schedule-box green" data-available="1" data-slug="r2130" id="r2130"></td>
        <td class="schedule-box green" data-available="1" data-slug="f2130" id="f2130"></td>
        <td class="schedule-box green" data-available="1" data-slug="s2130" id="s2130"></td>
    </tr>
    <tr>
        <td>10:00 - 10:30 PM</td>
        <td class="schedule-box green" data-available="1" data-slug="u2200" id="u2200"></td>
        <td class="schedule-box green" data-available="1" data-slug="m2200" id="m2200"></td>
        <td class="schedule-box green" data-available="1" data-slug="t2200" id="t2200"></td>
        <td class="schedule-box green" data-available="1" data-slug="w2200" id="w2200"></td>
        <td class="schedule-box green" data-available="1" data-slug="r2200" id="r2200"></td>
        <td class="schedule-box green" data-available="1" data-slug="f2200" id="f2200"></td>
        <td class="schedule-box green" data-available="1" data-slug="s2200" id="s2200"></td>
    </tr>
    <tr>
        <td>10:30 - 11:00 PM</td>
        <td class="schedule-box green" data-available="1" data-slug="u2230" id="u2230"></td>
        <td class="schedule-box green" data-available="1" data-slug="m2230" id="m2230"></td>
        <td class="schedule-box green" data-available="1" data-slug="t2230" id="t2230"></td>
        <td class="schedule-box green" data-available="1" data-slug="w2230" id="w2230"></td>
        <td class="schedule-box green" data-available="1" data-slug="r2230" id="r2230"></td>
        <td class="schedule-box green" data-available="1" data-slug="f2230" id="f2230"></td>
        <td class="schedule-box green" data-available="1" data-slug="s2230" id="s2230"></td>
    </tr>
    <tr>
        <td>11:00 - 11:30 PM</td>
        <td class="schedule-box green" data-available="1" data-slug="u2300" id="u2300"></td>
        <td class="schedule-box green" data-available="1" data-slug="m2300" id="m2300"></td>
        <td class="schedule-box green" data-available="1" data-slug="t2300" id="t2300"></td>
        <td class="schedule-box green" data-available="1" data-slug="w2300" id="w2300"></td>
        <td class="schedule-box green" data-available="1" data-slug="r2300" id="r2300"></td>
        <td class="schedule-box green" data-available="1" data-slug="f2300" id="f2300"></td>
        <td class="schedule-box green" data-available="1" data-slug="s2300" id="s2300"></td>
    </tr>
    <tr>
        <td>11:30 - 12:00 AM</td>
        <td class="schedule-box green" data-available="1" data-slug="u2330" id="u2330"></td>
        <td class="schedule-box green" data-available="1" data-slug="m2330" id="m2330"></td>
        <td class="schedule-box green" data-available="1" data-slug="t2330" id="t2330"></td>
        <td class="schedule-box green" data-available="1" data-slug="w2330" id="w2330"></td>
        <td class="schedule-box green" data-available="1" data-slug="r2330" id="r2330"></td>
        <td class="schedule-box green" data-available="1" data-slug="f2330" id="f2330"></td>
        <td class="schedule-box green" data-available="1" data-slug="s2330" id="s2330"></td>
    </tr>
</table>

<style>
#availability-selection-table td {
    font-size: 12px;
    padding: 0px;
}

#availability-selection-table td:nth-child(1) {
    font-weight: bold;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.schedule-box {
    cursor: pointer;
}
</style>