{% extends "base.html" %}

{% block title %}
  Login / Create account
{% endblock %}

{% block content %}
  <h2>Login / Create account</h2>
  <div id="login-box">
    <h3>Login</h3>
    {% if form.errors %}
      <p class="error">Sorry, that's not a valid username or password</p>
    {% endif %}

    <form action='.' method='post'>
      <div>
        <label for="username">Username:</label><br/>
        <input type="text" name="username" value="" id="username"><br/>
      </div>
      <div>
        <label for="password">Password:</label><br/>
        <input type="password" name="password" value="" id="password"><br/>
      </div>
      <div>
        <input type="submit" value="Login" />
      </div>
      <input type="hidden" name="next" value="{{ next|escape }}" />
    </form>
  </div>
  <div id="registration-box">
    <h3>Create an account</h3>
    <p>New to MIT Dance Troupe? <a href="{% url dt.accounts.views.register %}?next={{ next|escape }}">Create an account!</a></p>
  </div>
{% endblock %}

