{% extends "base.html" %}

{% block title %}
  Login / Create account
{% endblock %}

{% block content %}
  <h2>Login / Create account</h2>
  <div id="login-box">
    {% if form.errors %}
      <p class="error">Sorry, that's not a valid username or password</p>
    {% endif %}

    <form class="form-horizontal" role="form" action='.' method='post'>{% csrf_token %}
      <div class="form-group">
        <label for="username" class="col-sm-2 control-label">Username:</label>
        <div class="col-sm-4">
          <input class="form-control" type="text" name="username" value="" id="username">
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Password:</label>
        <div class="col-sm-4">
          <input class="form-control" type="password" name="password" value="" id="password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Login</button>
        </div>
      </div>
      <input class="form-control" type="hidden" name="next" value="{{ next|escape }}" />
    </form>

    <p>Forgot your password? Use the <a href="{% url django.contrib.auth.views.password_reset %}">password reset form</a> to reset your password.</p>
  </div>
  <div id="registration-box">
    <h3>Create an account</h3>
    <p>New to MIT Dance Troupe? <a href="{% url dt.accounts.views.register %}?next={{ next|escape }}">Create an account!</a></p>
  </div>
{% endblock %}

