{% extends "base.html" %}

{% block title %}Registration{% endblock %}

{% block content %}
<h1>Registration</h1>
<form id="register-form" enctype="multipart/form-data"  action="" method="post">
  <fieldset>
    <legend>Account Information</legend>
    {% for field in user_form %}
    <div>
      <label for="{{ field.id }}">
        {{ field.label }}{% if field.field.required %}*{% endif %}
      </label><br/>
      {{ field }} <br/>
      {{ field.help_text }}
    </div>

    {% for error in field.errors %}
    <p class="error">{{ error }}</p>
    {% endfor %}

    {% endfor %}
  </fieldset>
  <fieldset>
    <legend>Profile Information</legend>

    {% for field in user_profile_form %}
    <div>
      <label for="{{ field.id }}">
        {{ field.label }}{% if field.field.required %}*{% endif %}
      </label><br/>
      {{ field }} <br/>
      {{ field.help_text }}
    </div>

    {% for error in field.errors %}
    <p class="error">{{ error }}</p>
    {% endfor %}

    {% endfor %}
  </fieldset>
  <input type="hidden" name="next" value="{{ next|escape }}"/>
  <input type="submit" value="Register"/>
</form>
{% endblock %}

