form {
}

form fieldset {
    clear: both;
    border-color: #000;
    border-width: 1px 0 0 0;
    border-style: solid none none none;
    padding: 10px;
}

form fieldset legend {
    font-size: 120%;
    font-weight: normal;
    color: #000;
    padding: 0 5px;
}


form th.required {
    font-weight: bold;
}

form th {
    vertical-align: top;
}

form td, th {
    padding: 3px 5px;
}

form .errorlist {
    color: #f00;
    font-size: 80%;
}

form #user-photo {
    border: 1px solid #aaa;
    max-width: 200px;
    max-height: 400px;
    float: right;
    margin-right: 10px;
    padding: 5px;
}

form #user-photo h3 {
    text-align: center;
}

form #user-photo img {
    max-width: 100%;
    max-height: 100%;
}
