.panel-profile {
	padding: 0px;
	margin: 1px;

}
.buttons {
	text-align: center;
	padding-bottom: 5px;
	margin-bottom: 0px;
}
.button {
	width: 200px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.table-pref {
	padding: .2em;
}
.dancers p {
	padding: 0px;
	margin: 0px;
}
.table-pref td {
	padding: 0px;
	padding-left: 10px;
}
#dancer-column {
	position: fixed;
	right: 0;
}