.panel-profile {
	padding: 0px;
	margin: 1px;

}
.buttons {
	text-align: center;
	padding-bottom: 5px;
	margin-bottom: 0px;
}
.button {
	width: 200px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.table-pref {
	padding: .2em;
}
.dancers p {
	padding: 0px;
	margin: 0px;
}
.table-pref td {
	padding: 0px;
	padding-left: 10px;
}

th {
	padding: 0px !important;
	padding-right: 1px !important;
	text-align: center !important;
}

td {
	padding: 0px !important;
	padding-right: 1px !important;
	text-align: center;
}

.sort_header {
	text-decoration: underline;
	cursor: pointer;
}

.alert-box {
	position: absolute;
	width: 100%;
	z-index: 10;
}