.panel-profile {

}
.buttons {
	text-align: center;
}
.button {
	width: 200px;
}
.table-pref {
	padding: .2em;
}
.dancers p {
	padding: 0px;
	margin: 0px;
}
.table-pref td {
	padding: 0px;
	padding-left: 10px;
}