@import '_constants';

// $bg: 0;
// $num-bg: 7;

// @mixin change-bg() {
//   background-image: unquote("url(/static/img/pics/bg" + $bg%7 + ".jpg)");
//   $bg: $bg + 1;
// }

html::before {
    background-color: #000;
}

html {
  // background: #000 url(/static/img/pics/bg0.jpg) no-repeat center center fixed;
  background-color: #000;
  background-image: url(/static/img/pics/bg0.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, body, #container {
    height: 100%;
}

body {
    background-color: rgba(0,0,0,0);
    color: $black;
    @include body_font(300);

    p {
        @include body_font(300);
    }

    h1, h2, h3, h4, h5, h6 {
        @include header_font();
    }

    #content {
        background-color: rgba(255, 255, 255, 0.9);
        color: $black;
        height: 80%;
        overflow: scroll;
        padding: 20px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        #flatpage-title {
            color: $highlight-dark;
        }

        .officer-img-div {
            padding: 0px 10px 0px 0px;
        }

        .square-img {
            height: 200px;
            width: 100%;
            background-size: cover;
            background-origin: center center;
            position: relative;
            margin-bottom: 20px;

            .square-img-text {
                width: 100%;
                position: absolute;
                bottom: 0;
                padding: 5px 5px 5px 0px;
                background-color: rgba(0, 0, 0, 0.8);
            }

            .img-heading, .img-text {
                text-transform: uppercase;
                float: right;
            }

            .img-heading {
                color: $highlight;
                @include header_font();
                line-height: 0;
            }

            .img-text {
                color: $white;
                margin: 0;
                @include header_font();
            }
        }

        .dance-div {
            height: 100px;
            background-color: $black;
            margin-bottom: 10px;
            @include header_font();
            color: $white;
            cursor: pointer;

            .dance-name {
                font-family: $header_font;
                font-weight: 400;
                margin: 0;
                color: $highlight;
                text-transform: uppercase;
                font-size: 1em;
            }

            p {
                margin: 0;
                font-family: $body_font;
                text-transform: none;
                font-weight: 100;
                font-size: 0.9em;
            }
        }

        .workshops-div {
            background-color: $black;
            height: 150px;
            color: $highlight;
            @include header-font();

            .workshops-text {
                padding: 1em;
            }
        }

        .profile-pic {
            width: 200px;
        }

        form {
            label {
                @include header_font();
            }

            input {
                @include body_font(300);
            }
        }
    }

    .no-transition {
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        animation: none !important;
    }

    .transparent-bg {
        background-color: rgba(0, 0, 0, 0) !important;
    }
}

#nav-container {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

nav {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    z-index: 1;
    height: 100%;
    overflow: scroll;
    margin: 0px;

    .navbar-header {
        color: $highlight;
        .navbar-toggle {
            padding: 0px;
            margin-bottom: 0px;
        }
    }

    #navbar-collapse ul.nav {
        height: 100%;

        li {
            a {
                color: $highlight;
                text-align: center;
                @include header_font();              
            }

            a:hover{
                background-color: rgba(255, 255, 255, 0.2);
                -webkit-animation: fade_white 0.6s;
                -moz-animation: fade_white 0.6s;
                -o-animation: fade_white 0.6s;
                animation: fade_white 0.6s;
            }

            a img#nav-logo {
                width: 80%;
                max-width: 10em;
                display: block;
                margin: 50px auto 10px auto;
            }
        }
    }
}

#dtlogo {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;

    img {
        -webkit-animation: fade_header 5s;
        width: 50%;
        float: right;
        padding: 50px;
        opacity: 0.5;
    }
}

@media (max-width: 768px) { #nav-container { height: auto; } }

@-webkit-keyframes fade_header { from { opacity: 0; } to { opacity: 0.5; }  }
@-moz-keyframes fade_header { from { opacity: 1; } to { opacity: 0.5; }  }
@-o-keyframes fade_header { from { opacity: 1; } to { opacity: 0.5; }  }
@keyframes fade_header { from { opacity: 1; } to { opacity: 0.5; }  }

@-webkit-keyframes fade_white { from { background-color: rgba(255, 255, 255, 0); } to { background-color: rgba(255, 255, 255, 0.2); }  }
@-moz-keyframes fade_white { from { background-color: rgba(255, 255, 255, 0); } to { background-color: rgba(255, 255, 255, 0.2); }  }
@-o-keyframes fade_white { from { background-color: rgba(255, 255, 255, 0); } to { background-color: rgba(255, 255, 255, 0.2); }  }
@keyframes fade_white { from { background-color: rgba(255, 255, 255, 0); } to { background-color: rgba(255, 255, 255, 0.2); }  }