{% extends "base.html" %}
{% load markup %}

{% block title %}
{{ show }}
{% endblock %}

{% block content %}
<h2>{{ show }}</h2>
{% if show.prefsheets_open %}
  {% if user.is_authenticated %}
    Preferences sheets for this show are open!
    <a href="{% url dt.auditions.views.prefsheet show.slug %}">Submit yours</a>
  {% else %}
    Preferences sheets for this show are open.
    <a href="{% url dt.accounts.views.register %}">Register</a> or
    <a href="{% url django.contrib.auth.views.login %}">Login</a> to submit yours.
  {% endif %}
{% endif %}
{{ show.info|safe}}
<h3>Dances</h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Choreographer(s)</th>
      <th>Style</th>
      <th>Level</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {% for dance in show.dances.all %}
    <tr>
      <td>{{ dance.name }}</td>
      <td>
        {% for user in dance.choreographers.all %}
          {{ user.get_full_name }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </td>
      <td>{{ dance.style }}</td>
      <td>{{ dance.get_level_display }}</td>
      <td>{{ dance.description|textile }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5">
        <p class="notice">No dances found for this show.</p>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
