{% extends "clean_base.html" %}
{% load filters %}

{% block title %} {{ dance }} Audition Sheet{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" media="print" href="{{ STATIC_URL }}css/dancesheet.css"/>
{% endblock %}

{% block body %}

{% for dance in dances %}
  <h2>{{ dance }} Audition Sheet</h2>
  <h3>Dancers by Audition Number</h3>
  <table class="dancer-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Pref</th>
        <th>Name</th>
        <th>Desired</th>
      </tr>
    </thead>
    <tbody>
      {% for pref in dance.prefs.all|order_by:"prefsheet,pref" %}
        <tr class="{% cycle 'odd' 'even' %}">
          <td>{{ pref.prefsheet.audition_number }}</td>
          <td>{{ pref.pref }}</td>
          <td>{{ pref.prefsheet.user.get_full_name }}</td>
          <td>{{ pref.prefsheet.desired_dances }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <h3>Dancers by Pref</h3>
  <table class="dancer-table">
    <thead>
      <tr>
        <th>Pref</th>
        <th>#</th>
        <th>Name</th>
        <th>Desired</th>
      </tr>
    </thead>
    <tbody>
      {% for pref in dance.prefs.all|order_by:"pref,prefsheet" %}
        <tr class="{% cycle 'odd' 'even' %}">
          <td>{{ pref.pref }}</td>
          <td>{{ pref.prefsheet.audition_number }}</td>
          <td>{{ pref.prefsheet.user.get_full_name }}</td>
          <td>{{ pref.prefsheet.desired_dances }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <p style="page-break-after:always;"></p>
  <style>
  table, tr, th, td {
    border: 1px black solid;
  }
  table {
    width: 400px;
  }

  td,th {
    padding: 0 10px;
  }
  </style>
{% endfor %}

{% endblock %}
