<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" media="screen" href="/media/css/yui-all.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/media/css/base.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/media/css/form.css"/>
    {% block includes %}{% endblock %}
    <title>{% block title %}{% endblock %} | MIT Dance Troupe</title>
  </head>

  <body>
    <div id="doc" class="yui-t2">
      <div id="hd"></div>
      <div id="bd">
        <div id="yui-main">
          <div class="yui-b">
            {% block body %}
            {% endblock %}
          </div>
        </div>
        <div class="yui-b">
          <div id="sidebar">
            {% block sidebar %}
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about/">About Us</a></li>
              <li><a href="/auditions/">Auditions</a></li>
              <li><a href="/classes/">Classes</a></li>
              <li><a href="/rehearsals/">Rehearsals</a></li>
              <li><a href="/gallery/">Gallery</a></li>
              <li><a href="/resources/">Resources</a></li>
              <li><a href="/officers/">Officers</a></li>
            </ul>
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </body>

</html>

