{% extends "base.html" %}
{% load markup %}

{% block title %}
    Dance Selection
{% endblock %}

{% block content %}
    <script src="{{ STATIC_URL }}js/vendor/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/angular.min.js"></script>
    <script type="text/javascript">
        availabilities = []
        {% for availability in availabilities %}
            availability = {}
            availability.name = '{{availability.name}}';
            availability.hour = '{{availability.hour}}';
            able = '{{availability.available}}';

            if (able === "False") {
                availability.available = false
            } else {
                availability.available = true
            }

            availability.day = '{{availability.day}}';
            availabilities.push(availability)
        {% endfor %}

        times = [];
        {% for t in times %}
            times.push('{{t}}')
        {% endfor %}

        days = [];
        {% for day in days %}
            days.push('{{day}}')
        {% endfor %}

        timedict = {}
        _.forEach(times, function(time) {
            _.forEach(days, function(day) {
                timedict[day+time] = 0
            })
        })
        _.forEach(availabilities, function(availability) {
            slug = availability.day + availability.hour
            if (availability.available) {
                timedict[slug] += 1
            }
        });

        var table = document.createElement('table');

        var row = table.insertRow(0);
        var col = row.insertCell(0);
        col.innerHTML = '';
        _.forEach(days, function(day, index) {
            col = row.insertCell(index+1);
            col.innerHTML = day;
        });
        _.forEach(times, function(time, timeIndex) {
            row = table.insertRow(timeIndex+1);
            col = row.insertCell(0);
            col.innerHTML = time;
            _.forEach(days, function(day, dayIndex) {
                col = row.insertCell(dayIndex+1);
                col.innerHTML = timedict[day+time];
                col.className = 'green';
            });
        });
        $('#content').append(table);

        /*



        var row1col1 = row1.insertCell(0);
        row1col1.innerHTML = 'Col1';


        row1col2.innerHTML = 'Col2';
        // Insert New Column for Row1 at index '2'.
        var row1col3 = row1.insertCell(2);
        row1col3.innerHTML = 'Col3';
        // Append Table into div.
        var div = document.getElementById('divTable');
        $('#content').appendChild(table);
        <table>
        <tr>
            <th>""</th>
            {% for day in days %}
                <th>{{day}}</th>
            {%endfor%}
            {% for t in times %}
                {% for day in days %}
                {% endfor %}
            {% endfor %}
        </tr>
    </table>
    */
    </script>
    <div id="content">>
    </div>
{% endblock %}

