{% extends "base.html" %}

{% load widget_tweaks %}

{% block extra_head %}{{ prefsheet_form.media }}{% endblock %}

{% block title %}Preferences Sheet{% endblock %}

{% block content %}
<h1>{{ show }} Preferences Sheet</h1>
<p>Welcome, {{ user.first_name }}!
</p>
<form role="form" id="prefsheet-form" class="form-horizontal" enctype="multipart/form-data" action="" method="post">
  {% csrf_token %}
  {% include "partials/profile.html" %}
  <fieldset>
    <legend>Scheduling Information</legend>
    {% for field in prefsheet_form %}
    <div class="row">
      <label for="{{ field.id }}" class="col-sm-2 control-label">
        {{ field.label }}{% if field.field.required %}*{% endif %}
      </label>
      <div class="col-sm-6">
        {{ field|add_class:"form-control" }}
      </div>
      <div class="col-sm-4">
        {{ field.help_text }}
      </div>
    </div>

    {% for error in field.errors %}
    <p class="error">{{ error }}</p>
    {% endfor %}

    {% endfor %}
  </fieldset>
  <fieldset>
    <legend>Dance Preferences</legend>
    <p>Please rank the dances you want in order of preference.  Please
       do not tie dances, and it is advisable to rank more dances than your
       desired.  However, please do not rank dances that you
       do not actually want to be in.</p>
    <p><strong>For descriptions of the dances, please click <a href="{{ show.get_absolute_url }}" target="_blank">here</a>.</strong></p>

    {% for error in pref_formset.non_form_errors %}
    <p class="error">{{ error }}</p>
    {% endfor %}

    <table>
      {{ pref_formset.management_form }}
      <thead>
        <tr>
          <th>Rank</th>
          <th>Dance</th>
          <th>Delete?</th>
        </tr>
      </thead>
      <tbody>
      {% for form in pref_formset.forms %}
        <tr>
          <td>{{ form.pref.errors }}{{ form.id.errors }}
              {{ form.pref }}</td>
          <td>{{ form.dance.errors }}
              {{ form.dance }}</td>
          <td>{{ form.DELETE.errors }}
              {{ form.DELETE }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </fieldset>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}
