{% extends "base.html" %}

{% block title %}Preferences Sheet{% endblock %}

{% block body %}
<h1>{{ show }} Preferences Sheet</h1>
<form id="prefsheet-form" enctype="multipart/form-data" action="" method="post">
  <fieldset>
    <legend>Personal Information</legend>
    {% if user.get_profile.photo %}
      <div id="user-photo">
        <h3>Uploaded Photo</h3>
        <img src="{{ user.get_profile.photo.url }}"/>
      </div>
    {% endif %}
    <table>
      {{ user_profile_form }}
    </table>
  </fieldset>
  <fieldset>
    <legend>Scheduling Information</legend>
    <table>
      {{ prefsheet_form }}
    </table>
  </fieldset>
  <fieldset>
    <legend>Dance Preferences</legend>
    <table>
      {{ pref_formset.management_form }}
      <tr>
        <th>Rank</th>
        <th>Dance</th>
        <th>Delete?</th>
      </tr>
      {% for form in pref_formset.forms %}
        <tr>
          <td>{{ form.pref }}{{ form.id }}</td>
          <td>{{ form.dance }}</td>
          <td>{{ form.DELETE }}</td>
        </tr>
      {% endfor %}
    </table>
  </fieldset>
  <input type="submit" value="Submit"/>
</form>
{% endblock %}
