{% extends "base.html" %}

{% block extra_head %}{{ prefsheet_form.media }}{% endblock %}

{% block title %}Preferences Sheet{% endblock %}

{% block content %}
<h1>{{ show }} Preferences Sheet</h1>
<p>Welcome, {{ user.first_name }}!
</p>
<form id="prefsheet-form" enctype="multipart/form-data" action="" method="post">
  <fieldset>
    <legend>Personal Information</legend>
    <div class="span-13">
      {% for field in user_profile_form %}
      <div>
        <label for="{{ field.id }}">
          {{ field.label }}{% if field.field.required %}*{% endif %}
        </label><br/>
        {{ field }}<br/>
        {{ field.help_text }}
      </div>
     
      {% for error in field.errors %}
      <p class="error">{{ error }}</p>
      {% endfor %}

      {% endfor %}
    </div>
    {% if user.get_profile.photo %}
    <div id="user-photo" class="span-6 last">
      <h3>Uploaded Photo</h3>
      <img src="{{ user.get_profile.photo.url }}"/>
    </div>
    {% endif %}
  </fieldset>
  <fieldset>
    <legend>Scheduling Information</legend>
    {% for field in prefsheet_form %}
    <div>
      <label for="{{ field.id }}">
        {{ field.label }}{% if field.field.required %}*{% endif %}
      </label><br/>
      {{ field }}<br/>
      {{ field.help_text }}
    </div>
   
    {% for error in field.errors %}
    <p class="error">{{ error }}</p>
    {% endfor %}

    {% endfor %}
  </fieldset>
  <fieldset>
    <legend>Dance Preferences</legend>
    <p>Please rank the dances you want in order of preference.  Please 
       do not tie dances, and it is advisable to rank more dances than your 
       desired.  However, please do not rank dances that you 
       do not actually want to be in.</p>
       <p><strong>For descriptions of the dances, please click <a href="{{ show.get_absolute_url }}" target="_blank">here</a>.</strong></p>
    <table>
      {{ pref_formset.management_form }}
      <thead>
        <tr>
          <th>Rank</th>
          <th>Dance</th>
          <th>Delete?</th>
        </tr>
      </thead>
      <tbody>
      {% for form in pref_formset.forms %}
        <tr>
          <td>{{ form.pref.errors }}{{ form.id.errors }}
              {{ form.pref }}{{ form.id }}</td>
          <td>{{ form.dance.errors }}
              {{ form.dance }}</td>
          <td>{{ form.DELETE.errors }}
              {{ form.DELETE }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </fieldset>
  <input type="submit" value="Submit"/>
</form>
{% endblock %}
