{% extends "base.html" %}

{% block title %}Thanks!{% endblock %}

{% block content %}
<h2>{{ show }} Preferences Sheet</h2>
<p>
  Thanks for your submission! As a reminder, if you pref-ed any Contemporary dances, please attend the <b>Contemporary auditions from 12-2:30pm</b> on Sunday. If you pref-ed any Hip-Hop or Tap dances,  please attend the <b>Hip-Hop auditions from 2:30-5pm</b> on Sunday. If you pref-ed both styles, you must attend both auditions.
  </p>
  <p>Feel free to <a href="../prefsheet/">go back</a>
  and edit your preference sheet before the deadline, otherwise you can
  <a href="/accounts/logout">logout</a>.
</p>
{% endblock %}
