{% extends "base.html" %}

{% block title %}Thanks!{% endblock %}

{% block content %}
<h2>{{ show }} Preferences Sheet</h2>
<p>
  Thanks for your submission! As a reminder, if you pref-ed any contemporary dances, please attend the <b>contemporary auditions from 11pm-1pm</b> on Sunday. If you pref-ed the tap dance, please attend the <b>tap auditions from 1:15pm-2pm</b> on Sunday. If you pref-ed any hip-hop dances,  please attend the <b>hip-hop auditions from 2pm-4pm</b> on Sunday. If you pref-ed multiple styles, you must attend all auditions for that style. All auditions will be held in Dupont. See you there!
  </p>
  <p>Feel free to <a href="../prefsheet/">go back</a>
  and edit your preference sheet before the deadline, otherwise you can
  <a href="/accounts/logout">logout</a>.
</p>
{% endblock %}
